@font-face {
  font-family: "Dela";
  src: url("../../fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.backgroundContainer {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../images/mountain2.jpg");
  background-size: cover;
  /* background-repeat: repeat; */
  background-position: center;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0%;
  left: 0;
  text-align: left;
  width: 100%;
  margin-left: 2rem;
  /* margin-top: 2rem; */
}

.name {
  font-family: "Dela";
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

.stock {
  position: absolute;
  top: 10rem;
  left: 5rem;
  margin-left: 2rem;
}
.eat {
  position: absolute;
  top: 10rem;
  left: 57rem;
  margin-left: 2rem;
}
.bswipe {
  position: absolute;
  top: 40rem;
  left: 31rem;
  margin-left: 2rem;
}
.bwalk {
  position: absolute;
  top: 10rem;
  left: 31rem;
  margin-left: 2rem;
}
.port {
  position: absolute;
  top: 44rem;
  left: 5rem;
  margin-left: 2rem;
}

.navButtons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.padding {
  padding-bottom: 74rem;
}

@media (max-width: 768px) {
  .navButtons {
    text-align: center;
  }
  .name {
    font-size: 2rem;
    margin-top: 5rem;
  }
  .header {
    text-align: center;
    margin-left: 0rem;
  }
  .projectCards {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-right: 1.5rem;
  }
  .eat {
    position: unset;
    top: 0%;
    left: 0%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .bwalk {
    position: unset;
    top: 0%;
    left: 0%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .stock {
    position: unset;
    top: 0%;
    left: 0%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .bswipe {
    position: unset;
    top: 0%;
    left: 0%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .port {
    position: unset;
    top: 0%;
    left: 0%;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .padding {
    padding-bottom: 5rem;
  }
  .backgroundImage {
    height: 100vh;
  }
}
